body{
    background-color: beige;
}

.heading{
    font-size:35px;
    width:100%;
    margin:0px;
    font-family: 'Mochiy Pop One', sans-serif;
    box-shadow: 5px 5px 5px grey;
    line-height: 2;
}

.note
{
    font-size:17px;
    color:black;
}

.copy_right_footer
{
    position:fixed;
    color:white;
    bottom:0;
    width:100%;
    background-color: rgb(95, 194, 161);
    line-height:1.5;
    font-size:45px;
    text-align:center;
    font-family: 'Square Peg', cursive;
}

canvas
{
    border:5px solid white;
    border-radius:20px;
    box-shadow:5px 5px 5px rgb(247, 153, 143)
}